<app-movieform (movieAddEvent)="onMovieAdded($event)"></app-movieform>
<hr/>
<app-moviegrid [movies]="movies"></app-moviegrid>
<hr/>

<!-- <app-lab01 heading="Welcome" subheading="Guessing game"></app-lab01> -->
<app-lab01 heading="Welcome" 
  [subheading]="someVariable"
  (overEvent)="doSomethingWhenGameIsOver($event)"></app-lab01>
<hr/>

<p>Last day</p>
<p>{{title}}</p>

<button (click)="buttonClicked()">Click</button>
<p>{{now}}</p>

<input type="text" [disabled]="valid" [class]="cssClsName">
<br/><br/>
<input type="text" 
  [ngClass]="{'correct': valid, 'wrong': !valid}">

<input type="text" [(ngModel)]="name">  
<h2>{{message}}</h2>
<button (click)="buttonClicked2()">Echo</button>

<p *ngIf="randomNumber > 5">{{randomNumber}}  Greater than 5</p>
<p *ngIf="randomNumber == 5">It's 5</p>
<p *ngIf="randomNumber < 5">{{randomNumber}}  Lesser than 5</p>
<hr/>
<ul>
  <li *ngFor="let item of languages">
    <h6 *ngIf="item === 'Hindi'">{{item}}</h6>
    <h4 *ngIf="item !== 'Hindi'">{{item}}</h4>
  </li>
</ul>
